* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.bg-main{
    background-color: #1F2d3D;
}

.login-page{
    background-image: url(../img/login_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.login-page .login-box .card{
    background-color: rgba(255,255,255,0.6);

}

.card-header{
    border-top: 5px solid blue
}



@media (max-width: 600px){
    .login-box{
        margin:0 15px;
    }
}

